JSON para N8N/bot_apertura_cierre_whatsapp_v2.json
{
  "name": "Apertura (Sticker) y Cierre (Imagen) Automático",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 9,18 * * 1-6"
            },
            {
              "field": "cronExpression",
              "expression": "0 0 10,14 * * 0"
            }
          ]
        }
      },
      "id": "4b0b0c39-2967-40f8-8ce6-5ef584b26879",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1168,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "const hour = $now.hour;\n\nconst grupos = [\n  '593961230380-1588719606@g.us',\n  '120363291497664389@g.us',\n  '593961230380-1588719963@g.us'\n];\n\nif (hour < 12) {\n  return {\n    tipo: 'apertura',\n    grupos: grupos,\n    stickerUrl: 'https://grupojk-cambios.github.io/grupojk-conversor/logos/sticker-apertura.webp'\n  };\n} else {\n  return {\n    tipo: 'cierre',\n    grupos: grupos,\n    imageUrl: 'https://raw.githubusercontent.com/grupojk-cambios/grupojk-conversor/main/public/logos/imagen-cierre.jpg',\n    texto: '¡Buenas noches! Hemos cerrado operaciones por hoy. Retomamos mañana a las 9:00 AM.'\n  };\n}"
      },
      "id": "f7491209-2e2f-4f7d-bd0c-5d131e12e25b",
      "name": "Lógica Apertura/Cierre",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        512
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.tipo }}",
        "rules": {
          "rules": [
            {
              "value2": "apertura"
            },
            {
              "value2": "cierre",
              "output": 1
            }
          ]
        }
      },
      "id": "a1b7cab0-94c7-48e3-8bdd-8b79bc0a0663",
      "name": "Es Apertura o Cierre?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -768,
        480
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "grupos",
        "options": {}
      },
      "id": "71218422-2856-49dc-bc7c-51b12141678f",
      "name": "Separar Grupos (Apertura)",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -320,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cambios-jk-remesas-evolution-api.wh5rmr.easypanel.host/message/sendSticker/BOT%20CAMBIOS%20JK%20Kelvin",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "4B4A59BF61DC-4013-8107-DFD841C73197"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.grupos }}\",\n  \"sticker\": \"{{ $('Lógica Apertura/Cierre').item.json.stickerUrl }}\"\n}",
        "options": {}
      },
      "id": "b2a2de31-9b78-4e6e-a127-504aefb7426e",
      "name": "Enviar Sticker (Grupos)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -16,
        240
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cambios-jk-remesas-evolution-api.wh5rmr.easypanel.host/message/sendStatus/BOT%20CAMBIOS%20JK%20Kelvin",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "4B4A59BF61DC-4013-8107-DFD841C73197"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"type\": \"text\",\n  \"content\": \"¡Buenos días! 🟢 Ya estamos operativos para sus cambios.\",\n  \"backgroundColor\": \"#10b981\",\n  \"font\": 1,\n  \"allContacts\": true\n}",
        "options": {}
      },
      "id": "b3ed2f4d-5db7-49fb-8f3b-820084cfc974",
      "name": "Estado Texto (Apertura)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -160,
        464
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "grupos",
        "options": {}
      },
      "id": "e25f5dc1-9a54-4a97-b2fd-2c5256251881",
      "name": "Separar Grupos (Cierre)",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -288,
        656
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cambios-jk-remesas-evolution-api.wh5rmr.easypanel.host/message/sendMedia/BOT%20CAMBIOS%20JK%20Kelvin",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "4B4A59BF61DC-4013-8107-DFD841C73197"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.grupos }}\",\n  \"mediatype\": \"image\",\n  \"mimetype\": \"image/jpeg\",\n  \"media\": \"{{ $('Lógica Apertura/Cierre').first().json.imageUrl }}\",\n  \"caption\": \"{{ $('Lógica Apertura/Cierre').first().json.texto }}\"\n}",
        "options": {}
      },
      "id": "38b274f1-34b2-49cc-b41e-5b47984a4909",
      "name": "Enviar Imagen (Grupos)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        64,
        656
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cambios-jk-remesas-evolution-api.wh5rmr.easypanel.host/message/sendStatus/BOT%20CAMBIOS%20JK%20Kelvin",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "4B4A59BF61DC-4013-8107-DFD841C73197"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"image\",\n  \"content\": \"{{ $('Lógica Apertura/Cierre').first().json.imageUrl }}\",\n  \"caption\": \"{{ $('Lógica Apertura/Cierre').first().json.texto }}\",\n  \"allContacts\": true\n}",
        "options": {}
      },
      "id": "9bc6929a-bc23-4d92-8ea2-76ebd0569a75",
      "name": "Estado Imagen (Cierre)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -144,
        912
      ],
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Lógica Apertura/Cierre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lógica Apertura/Cierre": {
      "main": [
        [
          {
            "node": "Es Apertura o Cierre?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Apertura o Cierre?": {
      "main": [
        [
          {
            "node": "Separar Grupos (Apertura)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Estado Texto (Apertura)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Separar Grupos (Cierre)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Estado Imagen (Cierre)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Grupos (Apertura)": {
      "main": [
        [
          {
            "node": "Enviar Sticker (Grupos)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Grupos (Cierre)": {
      "main": [
        [
          {
            "node": "Enviar Imagen (Grupos)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "ec124380c98d69dd328e8aa4b5354a1ab647c5a98191507714a5584c7d707de5"
  }
}
